
.titlebar_title {
    font-size: xx-large;
}

.titlebar_icon {
    padding-left: 5px;
    width: 50px;
}

.footer_sub_title {
    font-weight: bold;
    font-size: x-small;
    transform: rotate(180deg);
    flex-basis: 0;
    writing-mode: vertical-lr;
    padding-left: 10px;
}

.footer_details_wrapper {
}

.footer_details_right {
}

.footer_details_left {
}

.footer_more_info {
    display: none;
    font-size: x-small;
    color: slategray;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 1px;
}

@media (max-width: 600px) or (max-height: 670px) {
    .titlebar_title {
        font-size: large;
    }
    .titlebar_icon {
        width: auto;
        height: 30px;
    }
    .footer_sub_title {
        writing-mode: horizontal-tb;
        transform: unset;
    }
    .footer_details_wrapper {
        display: none;
    }
    .footer_more_info {
        display: revert;
    }
    .footer_details_right {
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-bottom-right-radius: 0 !important;
    }
    .footer_details_left {
        position: absolute;
        left: 10px;
        bottom: 10px;
        border-bottom-left-radius: 0 !important;
    }
    .footer_sub_title:hover ~ .footer_details_wrapper {
        display: revert;
        background-color: lemonchiffon;
        border: 1px solid grey;
        border-radius: 5px 5px 5px 5px;
        padding: 5px 7px 5px 7px;
    }
}